body {
   height: 100vh;
   background-image: linear-gradient(to top right, red, white);
   background-repeat: no-repeat;
   background-size: cover;
}

.satu {
    width: 70%;
    margin: 0 auto;
    height: 700px;
    background-image: radial-gradient(circle at bottom, white , blue);
}

.dua {
    width: 70%;
    height: 300px;
    background-image: radial-gradient(circle, white, blue);
    margin: 0 auto;
}